:root { 
--blue_gray_100:#d1d5db; 
--gray_500:#a6a6a6; 
--black_900:#000000; 
--deep_purple_900:#1501a1; 
--white_A700_01:#fdfdfd; 
--blue_gray_100_01:#d9d9d9; 
--gray_500_01:#a0a0a0; 
--gray_900:#051341; 
--white_A700_02:#fffcfc; 
--white_A700:#ffffff; 
--deep_orange_A400:#ff4801; 
}